<!doctype html>
<html lang="en">
	<head>
		<title>Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body onload="initialization()">
		<div class="container-fluid" ng-app="myModule">
			<div id="main-container">
				<div id="main-header" ng-controller="header">
					<div class="row">
						<div class="col-xs-12">
							<h1 ng-cloak>{{ person.firstName }} {{ person.lastName }}'s Home Page</h1>
						</div>
					</div>
				</div>
	
				<nav id="navigator" ng-controller="navigator">
					<div class="row">
						<div class="col-xs-12">
							<!-- Home Page -->
							<a href="index.html">Home</a>
							
							<!-- My Youtube History -->
							<a href="https://www.youtube.com/feed/history"
							target="_blank" rel="noopener noreferrer">Youtube History</a>

							<!-- Sample Website Done By Someone Else -->
							<a href="https://www.devonstank.com/"
							target="_blank" rel="noopener noreferrer">Good Website Example</a>

							<!-- Bad Website example -->
							<a href="https://www.theworldsworstwebsiteever.com/"
							target="_blank" rel="noopener noreferrer">Bad Website Example</a>

							<!-- W3Schools References -->
							<div id="w3-schools" class="dropdown"></div>

							<!-- TheNewBoston Tutorials -->
							<div class="dropdown">
								<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
									Bucky's Tutorials <span class="caret"></span>
  								</button>

  								<ul class="dropdown-menu">
  									<!-- HTML5 -->
  									<div class="dropdown dropdown-sub">
										<button class="btn btn-purple">
											HTML5 <span class="caret"></span>
  										</button>
  										<ul id="bucky-html" class="dropdown-menu dropdown-menu-right"></ul>
									</div>
	
									<!-- AngularJS -->
									<div class="dropdown dropdown-sub">
										<button class="btn btn-purple">
											AngularJS <span class="caret"></span>
  										</button>
  										<ul id="bucky-angular-js" class="dropdown-menu dropdown-menu-right"></ul>
									</div>
								</ul>
							</div>

							<!-- kudvenkat Tutorials -->
							<div id="kudvenkat" class="dropdown"></div>

							<!-- Misc Notes -->
							<div id="misc-notes" class="dropdown"></div>
						</div>
					</div>
				</nav>
	
				<div id="main-body">

					<!-- First Row -->
					<div class="row row-eq-height content">

						<!-- Sample Column -->
						<div class="col-xs-4">
							<h1>Article</h1>
							<h2>Subtitle</h2>
							<p>This is my article.</p>
							<p>- Jesus was here!</p>
						</div>


						<!-- Sample Column -->
						<div class="col-xs-4">
							<h1>News</h1>
							<h2></h2>
							<p>Hello World!</p>
						</div>

						<!-- Stuff to learn -->
						<div class="col-xs-4">
							<h1>Stuff to learn</h1>
							<ul>
								<li>AngularJS</li>
								<li>Node.JS</li>
								<li>SASS</li>
								<li>C#</li>
								<li>ASP.NET</li>
								<li>XML</li>
							</ul>
						</div>
					</div>

					<!-- Second Row -->
					<div class="row row-eq-height content-alt">

						<!-- Fibonacci List -->
						<div class="col-xs-4" ng-controller="fibonacci">
							<h1>Fibonacci Numbers</h1>
							<input type="number" min="0" ng-model="numSize" ng-init="updateFibonacci()" ng-change="updateFibonacci()" placeholder="Series size">
							<ol id="fibonacci"></ol>
						</div>

						<!-- Simple Angular Application -->
						<div class="col-xs-4">
							<p>Type stuff here: <input type="text" ng-model="name"></p>
							<h2 ng-cloak>{{ name }}</h2>
						</div>

						<div class="col-xs-4">
						</div>
					</div>
				</div>

				<!-- Footer -->
				<footer id="footer">
					<div class="row">
						<div class="col-xs-4 col-xs-offset-8
									col-sm-3 col-sm-offset-9
									col-md-2 col-md-offset-10
									col-lg-1 col-lg-offset-11">
							<p>This is a footer.</p>
						</div>
					</div>
				</footer>
			</div>
		</div>
		
		<script src="../js/modules/myModule.js"></script>
		<script src="../js/controllers/fibonacci.js"></script>
		<script src="../js/controllers/header.js"></script>
		<script src="../js/controllers/myController.js"></script>
		<script src="../js/controllers/navigator.js"></script>
	</body>
</html>