<!doctype html>
<html lang="en" ng-app="myModule">
	<head>
		<title>Home</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" type="text/css" href="../css/navigator.css">
		<link rel="stylesheet" type="text/css" href="../css/style.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</head>

	<body onload="initialization()">
		<div class="container-fluid">
			<div id="main-container">

				<!-- Main Header -->
				<div id="main-header" ng-controller="header">
					<div class="row">
						<div class="col-xs-12">
							<h1 ng-cloak>{{ person.firstName }} {{ person.lastName }}'s Home Page</h1>
						</div>
					</div>
				</div>
	
				<!-- Navigator -->
				<nav id="navigator">
					<div class="row">
						<div class="col-xs-12">
							
							<!-- Home Page -->
							<a href="index.html">Home</a>
							
							<!-- My Youtube History -->
							<a href="https://www.youtube.com/feed/history"
							target="_blank" rel="noopener noreferrer">Youtube History</a>

							<!-- Sample Website Done By Someone Else -->
							<a href="https://www.devonstank.com/"
							target="_blank" rel="noopener noreferrer">Good Website Example</a>

							<!-- Bad Website example -->
							<a href="https://www.theworldsworstwebsiteever.com/"
							target="_blank" rel="noopener noreferrer">Bad Website Example</a>

							<!-- W3Schools References -->
							<div id="w3-schools" class="dropdown btn-group">
								<a href="https://www.w3schools.com" class="btn btn-primary" type="button"
								target="_blank" rel="noopener noreferrer">W3 Schools</a>
								<a class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown">
									<span class="caret"></span>
								</a>

								<ul id="w3-schools-list" class="dropdown-menu">
									<li>
										<a href="https://www.w3schools.com/colors/colors_picker.asp" 
										target="_blank" rel="noopener noreferrer">Color Picker</a>
									</li>
									<li>
										<a href="https://www.w3schools.com/css/default.asp" 
										target="_blank" rel="noopener noreferrer">CSS</a>
									</li>
									<li>
										<a href="https://www.w3schools.com/bootstrap/default.asp" 
										target="_blank" rel="noopener noreferrer">Bootstrap</a>
									</li>
									<li>
										<a href="https://www.w3schools.com/js/default.asp" 
										target="_blank" rel="noopener noreferrer">JavaScript</a>
									</li>
									<li>
										<a href="https://www.w3schools.com/jquery/default.asp" 
										target="_blank" rel="noopener noreferrer">jQuery</a>
									</li>
									<li>
										<a href="https://www.w3schools.com/angular/default.asp" 
										target="_blank" rel="noopener noreferrer">AngularJS</a>
									</li>
									<li>
										<a href="https://www.w3schools.com/angular/angular_ref_directives.asp" 
										target="_blank" rel="noopener noreferrer">AngularJS Reference</a>
									</li>
									<li>
										<a href="https://www.w3schools.com/php/default.asp" 
										target="_blank" rel="noopener noreferrer">PHP</a>
									</li>
									<li>
										<a href="https://www.w3schools.com/java/" 
										target="_blank" rel="noopener noreferrer">Java</a>
									</li>
								</ul>
							</div>

							<!-- Angular JS -->
							<div id="angular-js" class="dropdown btn-group">
								<a class="btn btn-primary" type="button">Angular JS</a>
								<a class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown">
									<span class="caret"></span>
								</a>

								<ul id="angular-js-list" class="dropdown-menu">
									<li>
										<a href="https://docs.angularjs.org/guide" 
										target="_blank" rel="noopener noreferrer">Guide</a>
									</li>
									<li>
										<a href="https://docs.angularjs.org/api" 
										target="_blank" rel="noopener noreferrer">API</a>
									</li>
								</ul>
							</div>

							<!-- TheNewBoston Tutorials -->
							<div id="bucky" class="dropdown btn-group">
									<a href="https://www.youtube.com/channel/UCJbPGzawDH1njbqV-D5HqKw?&ab_channel=thenewboston"
									class="btn btn-primary" type="button" target="_blank" rel="noopener noreferrer">Bucky's Tutorials</a>
									<a class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown">
										<span class="caret"></span>
	  								</a>
  								<ul class="dropdown-menu">
  									
  									<!-- HTML5 -->
  									<li id="bucky-html" class="dropdown dropdown-submenu btn-group">
										<a href="https://www.youtube.com/playlist?list=PL081AC329706B2953"
										target="_blank" rel="noopener noreferrer">
  											<button class="btn btn-purple dropdown-toggle dropdown-toggle-split" type="button">
												<span class="caret"></span>
		  									</button>
											<button class="btn btn-purple">HTML5</button>
										</a>

  										<ul id="bucky-html-list" class="dropdown-menu dropdown-menu-right">
  											<li>
  												<a href="https://www.youtube.com/watch?v=yNtIO4X6cag" 
  												target="_blank" rel="noopener noreferrer">12: Making Everything Pretty</a>
  											</li>
											<li>
												<a href="https://www.youtube.com/watch?v=tzAEGnBNAn0" 
												target="_blank" rel="noopener noreferrer">13: Finishing The Layout</a>
											</li>
											<li>
												<a href="https://www.youtube.com/watch?v=xgYmccJ61eA" 
												target="_blank" rel="noopener noreferrer">14: Flexible Box Model</a>
											</li>
											<li>
												<a href="https://www.youtube.com/watch?v=bi7ccKky8JU" 
												target="_blank" rel="noopener noreferrer">15: Styling the Header and Navigation</a>
											</li>
  										</ul>
									</li>
	
									<!-- Angular 2 -->
									<li id="bucky-angular-js" class="dropdown dropdown-submenu btn-group">
										<a href="https://www.youtube.com/playlist?list=PL6gx4Cwl9DGBYxWxJtLi8c6PGjNKGYGZZ"
										target="_blank" rel="noopener noreferrer">
											<button class="btn btn-purple dropdown-toggle dropdown-toggle-split" type="button">
												<span class="caret"></span>
		  									</button>
											<button class="btn btn-purple">Angular 2</button>
										</a>

  										<ul id="bucky-angular-js-list" class="dropdown-menu dropdown-menu-right">
  											<li>
  												<a href="https://www.youtube.com/watch?v=hXfigUyeHaY" 
  												target="_blank" rel="noopener noreferrer">1: Getting Started</a>
  											</li>
											<li>
												<a href="https://www.youtube.com/watch?v=vc9n0j6-D2U" 
												target="_blank" rel="noopener noreferrer">2: Overview and Core Concepts</a>
											</li>
  										</ul>
									</li>
								</ul>
							</div>

							<!-- kudvenkat Tutorials -->
							<div id="kudvenkat" class="dropdown btn-group">
								<a href="https://www.youtube.com/playlist?list=PL6n9fhu94yhWKHkcL7RJmmXyxkuFB3KSl"
								class="btn btn-primary" type="button" target="_blank" rel="noopener noreferrer">Kudvenkat</a>
								<a class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown">
									<span class="caret"></span>
  								</a>
								<ul id="kudvenkat-list" class="dropdown-menu">
									<li>
										<a href="https://www.youtube.com/watch?v=gWmOKmgnQkU&ab_channel=kudvenkat" 
										target="_blank" rel="noopener noreferrer">Angular modules and controllers</a>
									</li>
									<li>
										<a href="https://www.youtube.com/watch?v=mW25S2tiCOM&ab_channel=kudvenkat" 
										target="_blank" rel="noopener noreferrer">Controllers in AngularJS</a>
									</li>
								</ul>
							</div>

							<!-- codedamn Tutorials -->
							<div id="codedamn" class="dropdown btn-group">
								<a href="https://www.youtube.com/playlist?list=PLYxzS__5yYQmX2bItSRCqwiQZn5dIL1gt"
								class="btn btn-primary" type="button" target="_blank" rel="noopener noreferrer">codedamn</a>
								<a class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown">
									<span class="caret"></span>
  								</a>
								<ul id="codedamn-list" class="dropdown-menu">
									<li>
										<a href="https://www.youtube.com/watch?v=s3qZF4jhgDo&ab_channel=codedamn" 
										target="_blank" rel="noopener noreferrer">AngularJS Tutorial 1: Welcome To AngularJS!</a>
									</li>
									<li>
										<a href="https://www.youtube.com/watch?v=oRHPmkvED2E&ab_channel=codedamn" 
										target="_blank" rel="noopener noreferrer">AngularJS Tutorial 2: Hello World</a>
									</li>
									<li>
										<a href="https://www.youtube.com/watch?v=GQmON8ZryGI&ab_channel=codedamn" 
										target="_blank" rel="noopener noreferrer">AngularJS Tutorial 3: ng-model and ng-bind directives</a>
									</li>
									<li>
										<a href="https://www.youtube.com/watch?v=4XYu3zU6NLo&ab_channel=codedamn" 
										target="_blank" rel="noopener noreferrer">AngularJS Tutorial 4: Introduction To Directives</a>
									</li>
									<li>
										<a href="https://www.youtube.com/watch?v=szmQTNloBoc&ab_channel=codedamn" 
										target="_blank" rel="noopener noreferrer">AngularJS Tutorial 5: Introduction To Expressions</a>
									</li>
								</ul>
							</div>

							<!-- Misc Notes -->
							<div id="misc-notes" class="dropdown btn-group">
								<a class="btn btn-primary" type="button">Notes</a>
								<a class="btn btn-primary dropdown-toggle dropdown-toggle-split" type="button" data-toggle="dropdown">
									<span class="caret"></span>
  								</a>
  								
								<ul id="misc-notes-list" class="dropdown-menu">
									<li>
										<a href="https://stackoverflow.com/questions/8988855/include-another-html-file-in-a-html-file" 
										target="_blank" rel="noopener noreferrer">Html within Html</a>
									</li>
									<li>
										<a href="https://www.w3schools.com/angular/angular_modules.asp" 
										target="_blank" rel="noopener noreferrer">Angular Modules and Controllers in Files</a>
									</li>
									<li>
										<a href="https://stackoverflow.com/questions/18512434/multiple-module-in-angularjs" 
										target="_blank" rel="noopener noreferrer">Multiple Modules in AngularJS</a>
									</li>
									<li>
										<a href="https://stackoverflow.com/questions/24793916/shorthand-c-if-else-statement" 
										target="_blank" rel="noopener noreferrer">C++ if else shorthand</a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</nav>
	
				<!-- Main Body -->
				<div id="main-body">

					<!-- First Row -->
					<div class="row row-eq-height content">

						<!-- Todo List -->
						<div class="col-xs-4">
							<h1>Todo List</h1>
							<ul></ul>
						</div>

						<!-- Duckduckgo search -->
						<div class="col-xs-4">
							<iframe class="centered" src="https://duckduckgo.com/search.html?duck=yes&prefill=Search DuckDuckGo"
							style="overflow:hidden;margin:20px;padding:20px;width:483px;" frameborder="0"></iframe>
						</div>

						<!-- Stuff to learn -->
						<div class="col-xs-4">
							<h1>Stuff to learn</h1>
							<ul>
								<li>AngularJS</li>
								<li>Node.JS</li>
								<li>SASS</li>
								<li>C#</li>
								<li>ASP.NET</li>
								<li>XML</li>
							</ul>
						</div>
					</div>

					<!-- Second Row -->
					<div class="row row-eq-height content-alt">

						<!-- Fibonacci List -->
						<div class="col-xs-4" ng-controller="fibonacci">
							<h1>Fibonacci Numbers</h1>
							<input type="number" min="0" ng-model="numSize" ng-init="updateFibonacci()" ng-change="updateFibonacci()" placeholder="Series size">
							<ol id="fibonacci"></ol>
						</div>

						<!-- Simple Angular Application -->
						<div class="col-xs-4">
							<p>Enter your name: <input type="text" ng-model="name"></p>
							<h2 ng-cloak>Hello, {{ name }}</h2>
						</div>

						<!--  -->
						<div class="col-xs-4">
							<!--  -->
						</div>
					</div>

					<!-- Third Row -->
					<div class="row row-eq-height content">

						<!-- Siren Torturers KF1 Gametracker banner -->
						<div class="col-xs-4">
							<a class="centered" href="https://www.gametracker.com/server_info/74.91.125.59:7707/" target="_blank">
								<img src="https://cache.gametracker.com/server_info/74.91.125.59:7707/b_560_95_1.png" border="0" width="560" height="95" alt=""/>
							</a>
						</div>

						<!-- Siren Torturers KF1 Gametracker banner -->
						<div class="col-xs-4">
							<a class="centered" href="https://www.gametracker.com/server_info/74.91.124.127:7777/" target="_blank">
								<img src="https://cache.gametracker.com/server_info/74.91.124.127:7777/b_560_95_1.png" border="0" width="560" height="95" alt=""/>
							</a>
						</div>

						<!--  -->
						<div class="col-xs-4">
						</div>
					</div>
				</div>

				<!-- Footer -->
				<footer id="footer">
					<div class="row">
						<div class="col-xs-4 col-xs-offset-8
									col-sm-3 col-sm-offset-9
									col-md-2 col-md-offset-10
									col-lg-1 col-lg-offset-11">
							<p>This is a footer.</p>
						</div>
					</div>
				</footer>
			</div>
		</div>
		
		<script src="../js/modules/myModule.js"></script>
		<script src="../js/controllers/fibonacci.js"></script>
		<script src="../js/controllers/header.js"></script>
		<script src="../js/controllers/myController.js"></script>
	</body>
</html>