#navigator {
	background: blue;
}

#navigator a:hover,
#navigator button:hover {
	color: red;
}

#navigator a,
#navigator .dropdown {
	color: white;
	display: inline-block;
	padding: 5px;
	text-decoration: none;
}

#navigator .dropdown-menu,
#navigator .dropdown-menu a:hover {
	background: purple;
}

/*Submenu stuff*/
.dropdown-submenu {
    position:relative;
}

li.dropdown-submenu:hover > ul.dropdown-menu {
    display: block;
}

.dropdown-submenu > .dropdown-menu {
    top:8px;
    right:100%;
    margin-top:-6px;
}
