#footer {
	border-top: 1px solid black;
}

#footer p {
	margin-top: 10px;
}

#main-container > * {
	padding: 0px 20px;
}

#main-body {
	padding-top: 20px;
}

#main-container {
	border: 1px solid black;
	font-family: Verdana,
				 Arial,
				 Serif,
				 Sans-serif;
	margin: 20px auto;
	text-align: left;
}

#main-header {
	background: yellow;
	border-bottom: 1px solid black;
}

#navigator {
	background: blue;
}

#navigator a, #navigator .dropdown {
	color: white;
	display: inline-block;
	padding: 5px;
	text-decoration: none;
}

#navigator .dropdown-menu,
#navigator .dropdown-menu a:hover,
.btn-purple {
	background: purple;
}

#navigator a:hover,
.dropdown-sub > .dropdown-toggle:hover {
	color: red;
}

.content > div:nth-child(even) {
	background: #33CC33;
}

.content > div:nth-child(odd) {
	background: #00B8E6;
}

.dropdown-sub:hover > .dropdown-menu {
	display: block;
}

.row-eq-height {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}